.img-wrapper
  img(src=peak.thumbnail)
  .peak-rank Rank: #{peak.rank}th
.content
  h1 #{peak.name} &bull; #{peak.elevation.slice(0,2) + ',' + peak.elevation.slice(2)}
  h3 - #{peak.range} Range -
  .well.well-lg
    p #{peak.description}
    p #{peak.location}
  .button-flex-row
    button.btn.btn-success.download More Images 
      span.glyphicon.glyphicon-picture
    button.btn.btn-success.download Download .gpx file 
      span.glyphicon.glyphicon-save
#weather
  -var dayOfWeek = new Date().getDay() + 1;
  -var days = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday','sunday','monday','tuesday','wednesday','thursday','friday','saturday'];
  each day in weather
    i.owf.owf-5x(class='owf-' + day.weather[0].id)
      p #{days[dayOfWeek]}
      - dayOfWeek++
      p #{day.weather[0].description}
      p wind: #{Math.round(day.wind.speed * 10)} mph
      p temp: #{Math.round(day.main.temp * (9/5) - 459.67)}
  
.content
  h2 Routes
  .sexy-line
  each route in routes
    -var routeClass;
    -var starGlyphicon = ''
    -if (route.difficulty.toLowerCase().indexOf('class 2') > -1){
    -routeClass='btn btn-success'
    -} else if (route.difficulty.toLowerCase().indexOf('class 3') > -1){
    -routeClass='class-3'
    -} else if (route.difficulty.toLowerCase().indexOf('class 4') > -1){
    -routeClass='class-4'
    -} else if (route.difficulty.toLowerCase().indexOf('class 5') > -1){
    -routeClass='class-5'
    -} else { routeClass='routeClass-1'}
      if route.isStandard
        button.btn.btn-primary.btn-block.feature-link(value='/route/' + route._id class=routeClass data-toggle='tooltip' title='Standard Route') #{route.name} &bull; #{route.difficulty} 
          span.glyphicon.glyphicon-star
      else if route.isSnowOnly
        button.btn.btn-primary.btn-block.feature-link(value='/route/' + route._id class=routeClass data-toggle='tooltip' title='Snow Only') #{route.name} &bull; #{route.difficulty} 
          i.owf.owf-903.owf-lg.white-icon(data-toggle='tooltip' data-placement='top' title='Snow Only')
      else
        button.btn.btn-primary.btn-block.feature-link(value='/route/' + route._id class=routeClass) #{route.name} &bull; #{route.difficulty} 
  h2 Trailheads
  .sexy-line 
  each trailhead in trailheads
    button.btn.btn-primary.btn-block.feature-link(value='/trailhead/' + trailhead._id) #{trailhead.name} 
  h2 Peak Conditions
  .sexy-line
  each report in peak.peakConditions
    -var postDate = new Date(report.date.slice(0,4)+'/'+report.date.slice(5,7)+'/'+report.date.slice(8));
    -var today = new Date();
    -var timeDiff = Math.abs(today.getTime() - postDate.getTime());
    -var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
    .panel.panel-primary
      .panel-heading.text-left #{report.route} (#{report.user}) &bull; #{diffDays} days ago
      .panel-body.text-left #{report.report}

  button.btn.btn-warning.btn-block.edit-peak(id=peak._id) Edit this peak
      
        
